* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-pl-cs.cs-pl.t1x -text
/apertium-pl-cs.cs-pl.t2x -text
/apertium-pl-cs.cs-pl.t3x -text
/apertium-pl-cs.cs.acx -text
/apertium-pl-cs.cs.dix -text
/apertium-pl-cs.cs.tsx -text
/apertium-pl-cs.pl-cs.dix -text
/apertium-pl-cs.pl-cs.t1x -text
/apertium-pl-cs.pl-cs.t2x -text
/apertium-pl-cs.pl-cs.t3x -text
/apertium-pl-cs.pl.acx -text
/apertium-pl-cs.pl.dix -text
/apertium-pl-cs.pl.tsx -text
/apertium-pl-cs.post-cs.dix -text
/apertium-pl-cs.post-pl.dix -text
/autogen.sh -text
/configure.ac -text
/cs-pl-unsupervised.make -text
/cs-pl.prob -text
cs-tagger-data/cs.crp.txt -text
dev/ParadigmManager/dist/ParadigmManager.jar -text
dev/ParadigmManager/dist/README -text
dev/ParadigmManager/src/dix/data/Direction.java -text
dev/ParadigmManager/src/dix/data/Entry.java -text
dev/ParadigmManager/src/dix/data/MonoDictionary.java -text
dev/ParadigmManager/src/dix/data/Paradigm.java -text
dev/ParadigmManager/src/dix/data/Symbol.java -text
dev/ParadigmManager/src/dix/data/SymbolType.java -text
dev/ParadigmManager/src/dix/load/XmlLoader.java -text
dev/ParadigmManager/src/dix/print/AdjectiveParadigmFormatter.java -text
dev/ParadigmManager/src/dix/print/FormatterFactory.java -text
dev/ParadigmManager/src/dix/print/NounParadigmFormatter.java -text
dev/ParadigmManager/src/dix/print/ParadigmFormatter.java -text
dev/ParadigmManager/src/dix/print/Printer.java -text
dev/ParadigmManager/src/dix/print/ProperNounParadigmFormatter.java -text
dev/ParadigmManager/src/dix/print/Tools.java -text
dev/ParadigmManager/src/dix/view/CmdOption.java -text
dev/ParadigmManager/src/dix/view/Main.java -text
dev/apertium-pl-cs.cs.nouns.dix -text
dev/apertium-pl-cs.pl-cs-crossed.dix -text
dev/bidix-to-tag -text
dev/corpus_statistics.sh -text
dev/cs-pl.stats -text
dev/cs.cnj-missing.txt -text
dev/czech-top1000 -text
dev/debian/license.cs-pl.tmx -text
dev/debian/social-contract.cs-pl.tmx -text
dev/eval/eval.cs-pl.2010-08-06 -text
dev/fmorph_adjectives -text
dev/fmorph_adverbs -text
dev/fmorph_nouns -text
dev/fmorph_verbs -text
dev/frek2apertium.pl -text
dev/generated-cs.tsx -text
dev/generated-pl.tsx -text
dev/generation-report.cs-pl.txt -text
dev/generation-test.cs-pl.sh -text
dev/hitparade_cs -text
dev/hitparade_pl -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/interwiki.cs-pl -text
dev/interwiki.pl-cs -text
dev/missing-verbs-bil -text
dev/modernise.pl -text
dev/morfologik_adjectives -text
dev/morfologik_adverbs -text
dev/morfologik_nouns -text
dev/morfologik_verbs -text
dev/pl-cs.stats -text
dev/prediction.pl-cs.perl -text
dev/some-czech-closed-words -text
dev/speling-paradigms.py -text
dev/testvoc-summary.cs-pl.txt -text
dev/testvoc-summary.pl-cs.txt -text
dev/todo -text
dev/translations -text
dev/translations_multiwords -text
dev/undhr-cs.txt -text
dev/undhr-pl.txt -text
dev/wikt.full-form.pl -text
dev/wikt.full-form.pl.dix -text
freerbmt11/Makefile -text
freerbmt11/freerbmt11.sty -text
freerbmt11/plcs.bib -text
freerbmt11/plcs.tex -text
freerbmt11/slides.tex -text
misc/bort.xsl -text
/modes.xml -text
/pending-tests.sh -text
/pl-cs.prob -text svneol=unset#unset
tagger-task/Radio_UWM_FM -text
tagger-task/Radio_UWM_FM.anmor -text
tagger-task/Radio_UWM_FM.tagger -text
tagger-task/example-anmor.txt -text
tagger-task/example-corrected.txt -text
tagger-task/example-tagged.txt -text
tagger-task/example-untagged.txt -text
tagger-task/tags -text
/wiki-tests.sh -text
