* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-pl-cs.cs-pl.t1x -text
/apertium-pl-cs.cs-pl.t2x -text
/apertium-pl-cs.cs-pl.t3x -text
/apertium-pl-cs.cs.acx -text
/apertium-pl-cs.cs.dix -text
/apertium-pl-cs.cs.tsx -text
/apertium-pl-cs.pl-cs.dix -text
/apertium-pl-cs.pl-cs.t1x -text
/apertium-pl-cs.pl-cs.t2x -text
/apertium-pl-cs.pl-cs.t3x -text
/apertium-pl-cs.pl.acx -text
/apertium-pl-cs.pl.dix -text
/apertium-pl-cs.pl.tsx -text
/apertium-pl-cs.post-cs.dix -text
/apertium-pl-cs.post-pl.dix -text
/autogen.sh -text
/configure.ac -text
/cs-pl.prob -text
dev/apertium-pl-cs.pl-cs-crossed.dix -text
dev/bidix-to-tag -text
dev/cs.cnj-missing.txt -text
dev/czech-top1000 -text
dev/frek2apertium.pl -text
dev/generated-cs.tsx -text
dev/generated-pl.tsx -text
dev/hitparade_cs -text
dev/hitparade_pl -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/interwiki.cs-pl -text
dev/interwiki.pl-cs -text
dev/some-czech-closed-words -text
dev/testvoc-summary.cs-pl.txt -text
dev/testvoc-summary.pl-cs.txt -text
dev/todo -text
dev/wikt.full-form.pl -text
dev/wikt.full-form.pl.dix -text
misc/bort.xsl -text
/modes.xml -text
/pending-tests.sh -text
/pl-cs.prob -text svneol=unset#unset
